<?xml version="1.0"?>
<phpunit bootstrap="./bootstrap.php" colors="true">
  <log type="coverage-html" target="../logs/" charset="UTF-8"
    lowUpperBound="35" highLowerBound="70"/>

  <testsuites>
    <testsuite name="lib">
      <directory>./lib/</directory>
    </testsuite>
  </testsuites>

</phpunit>
